{% extends 'base.html' %}
{% block title %} Student details {% endblock %}
{% block content %}<br>
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-header">
            <h4>{{ student.first_name }} {{ student.last_name }}</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: {{ student.email }}</li>
            <li class="list-group-item">Age: {{ student.age }}</li>
            <li class="list-group-item">Description: {{ student.description }}</li>
            <li class="list-group-item">Is olympic: {{ student.is_olympic }}</li>
            <li class="list-group-item">Gender: {{ student.gender }}</li>
            <li class="list-group-item">Teacher: {{ student.teacher.first_name }} {{ student.teacher.last_name }}</li>
            <li class="list-group-item">Start date: {{ student.start_date }}</li>
            <li class="list-group-item">End date: {{ student.end_date }}</li>
        </ul>
    </div>
{% endblock %}