{% extends 'base.html' %}

{% block title %} List of students {% endblock %}
{% block content %}
    <div class="container"><br><br>
        <div class="row">
            <div class="col-md-12 offset-md-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Is olympic?</th>
                            <th scope="col">Start date</th>
                            <th scope="col">End date</th>
                            <th scope="col">Description</th>
                            <th scope="col">Age</th>
                            <th scope="col">Teacher</th>
                            <th scope="col">Department</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for student in all_students %}
                            <tr>
                                <td>{{ student.first_name }}</td>
                                <td>{{ student.last_name }}</td>
                                <td>{{ student.is_olympic }}</td>
                                <td>{{ student.start_date }}</td>
                                <td>{{ student.end_date }}</td>
                                <td>{{ student.description }}</td>
                                <td>{{ student.age }}</td>
                                <td>{{ student.teacher }}</td>
                                <td>{{ student.teacher.department }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Actions
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            {% if perms.student.change_student %}
                                                <li><a class="dropdown-item" href="#">
                                                    <a href="{% url 'update_student' student.id %}" class="dropdown-item">Update</a>
                                                </a></li>
                                            {% endif %}
                                            {% if perms.student.details_student %}
                                                <li><a class="dropdown-item" href="#">
                                                    <a href="{% url 'details_student' student.id %}" class="dropdown-item">Details</a>
                                                </a></li>
                                            {% endif %}
                                            {% if perms.student.inactivate_student %}
                                                <li><a class="dropdown-item" href="#">
                                                    <a href="{% url 'inactive_student' student.id %}" class="dropdown-item">Make inactive</a>
                                                </a></li>
                                            {% endif %}
                                            {% if perms.student.delete_student %}
                                                <li><a class="dropdown-item" href="#">
                                                    <a href="{% url 'delete_student' student.id %}" class="dropdown-item">Delete</a>
                                                </a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
