{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-7"><br><br><br><br><br>
                <div class="row">
                    <h1>Welcome to my Django project!</h1>
                </div>
                <div class="row">
                    <div class="col-md-8 offset-md-1"><br><p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic
                        design. Built by experienced developers, it takes care of much of the hassle of web development,
                        so you can focus on writing your app without needing to reinvent the wheel.
                        It’s free and open source.</p></div>

                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-3">
                        <a href="{% url 'create_user' %}" class="btn btn-outline-success">Get started</a>
                    </div>
                </div>
            </div>
            <div class="col-5"><br><br><br>
                <img src="{% static 'images/django_expertise_list.png' %}" alt="..." class="mx-auto d-block" height="400px">
            </div>
        </div>
    </div>
{% endblock %}