{% extends 'base.html' %}
{% block title%}Password reset{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">You will receive password reset instructions on your email.</h3>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'login' %}" class="btn btn-outline-success">Go back to login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}