{% extends 'base.html' %}
{% block title %} Teacher details {% endblock %}
{% block content %}<br>
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-header">
            <h4>{{ teacher.first_name }} {{ teacher.last_name }}</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Department: {{ teacher.department }}</li>
            <li class="list-group-item">Course: {{ teacher.course }}</li>
            <li class="list-group-item">Description: {{ teacher.description }}</li>

            <li class="list-group-item">Students: {% for student in all_students %}{% if student.teacher %}{{ student }}{% endif %}{% endfor %} {{ student.teacher.first_name }} {{ student.teacher.last_name }}</li>
            <li class="list-group-item">Start date: {{ teacher.start_date }}</li>
            <li class="list-group-item">End date: {{ teacher.end_date }}</li>
        </ul>
    </div>
{% endblock %}