{#{% extends 'base.html' %}#}
{##}
{#{% block title %} List of teachers {% endblock %}#}
{#{% block content %}#}
{#    <div class="row">#}
{#        {% for teacher in all_teachers %}#}
{#            <div class="col-sm-4"><br>#}
{#                <div class="card" style="width: 25rem;">#}
{#                    <div class="card-header">{{ teacher.department }}</div>#}
{#                        <div class="card-body">#}
{#                            <h5 class="card-title">{{ teacher.first_name }} {{ teacher.last_name }}</h5>#}
{#                            <h6 class="card-title">Course: {{ teacher.course }}</h6>#}
{#                            <p class="card-text">{{ teacher.description }}</p>#}
{#                            <p class="card-text">{{ teacher.start_date}} - {{ teacher.end_date}}</p>#}
{#                        </div>#}
{#                    <div class="card-footer text-muted">#}
{#                        <a href="{% url 'update_teacher' teacher.id %}" class="btn btn-dark btn-sm">Update</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}

{% extends 'base.html' %}

{% block title %} List of teachers {% endblock %}
{% block content %}
    <div class="row">
        {% for teacher in all_teachers %}
            {% if teacher.active %}
            {% if teacher.department == 'c#' %}
                <div class="col-sm-4"><br>
                    <div class="card" style="max-width: 25rem;">
                        <div class="card-header text-bg-success mb-3">{{ teacher.department }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ teacher.first_name }} {{ teacher.last_name }}</h5>
                                <h6 class="card-title">Course: {{ teacher.course }}</h6>
                                <p class="card-text">{{ teacher.description }}</p>
                                <p class="card-text">{{ teacher.start_date}} - {{ teacher.end_date}}</p>
                            </div>
                        <div class="card text-center">
{#                        <div class="card-footer text-muted">#}
{#                            <a href="{% url 'update_teacher' teacher.id %}" class="btn btn-success">Update</a>#}
{#                        </div>#}
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {% if perms.teacher.change_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'update_teacher' teacher.id %}" class="dropdown-item">Update</a>
                                    </a></li>
                                {% endif %}
                                {% if perms.teacher.details_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'details_teacher' teacher.id %}" class="dropdown-item">Details</a>
                                    </a></li>
                                {% endif %}
                                {% if perms.teacher.inactivate_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'inactive_teacher' teacher.id %}" class="dropdown-item">Make inactive</a>
                                    </a></li>
                                {% endif %}
                                {% if perms.teacher.delete_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'delete_teacher' teacher.id %}" class="dropdown-item">Delete</a>
                                    </a></li>
                                {% endif %}
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
{#            {% endif %}#}
            {% elif teacher.department == 'python' %}
                <div class="col-sm-4"><br>
                    <div class="card" style="max-width: 25rem;">
                        <div class="card-header text-bg-primary mb-3">{{ teacher.department }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ teacher.first_name }} {{ teacher.last_name }}</h5>
                                <h6 class="card-title">Course: {{ teacher.course }}</h6>
                                <p class="card-text">{{ teacher.description }}</p>
                                <p class="card-text">{{ teacher.start_date}} - {{ teacher.end_date}}</p>
                            </div>
                        <div class="card text-center">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {% if perms.teacher.change_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'update_teacher' teacher.id %}" class="dropdown-item">Update</a>
                                    </a></li>
                                {% endif %}
                                {% if perms.teacher.details_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'details_teacher' teacher.id %}" class="dropdown-item">Details</a>
                                    </a></li>
                                {% endif %}
                                {% if perms.teacher.inactivate_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'inactive_teacher' teacher.id %}" class="dropdown-item">Make inactive</a>
                                    </a></li>
                                {% endif %}
                                {% if perms.teacher.delete_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'delete_teacher' teacher.id %}" class="dropdown-item">Delete</a>
                                    </a></li>
                                {% endif %}
                            </ul>
                        </div>
{#                        <div class="card-footer text-muted">#}
{#                            <a href="{% url 'update_teacher' teacher.id %}" class="btn btn-primary">Update</a>#}
{#                        </div>#}
                        </div>
                    </div>
                </div>
                {% elif teacher.department == 'java' %}
                <div class="col-sm-4"><br>
                    <div class="card" style="max-width: 25rem;">
                        <div class="card-header text-bg-warning mb-3">{{ teacher.department }}</div>
                            <div class="card-body">
                                <h5 class="card-title">{{ teacher.first_name }} {{ teacher.last_name }}</h5>
                                <h6 class="card-title">Course: {{ teacher.course }}</h6>
                                <p class="card-text">{{ teacher.description }}</p>
                                <p class="card-text">{{ teacher.start_date}} - {{ teacher.end_date}}</p>
                            </div>
                        <div class="card text-center">
                        <div class="dropdown">
                            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                {% if perms.teacher.change_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'update_teacher' teacher.id %}" class="dropdown-item">Update</a>
                                    </a></li>
                                {% endif %}
                                {% if perms.teacher.details_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'details_teacher' teacher.id %}" class="dropdown-item">Details</a>
                                    </a></li>
                                {% endif %}
                                {% if perms.teacher.inactivate_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'inactive_teacher' teacher.id %}" class="dropdown-item">Make inactive</a>
                                    </a></li>
                                {% endif %}
                                {% if perms.teacher.delete_teacher %}
                                    <li><a class="dropdown-item" href="#">
                                        <a href="{% url 'delete_teacher' teacher.id %}" class="dropdown-item">Delete</a>
                                    </a></li>
                                {% endif %}
                            </ul>
                        </div>
{#                        <div class="card-footer text-muted">#}
{#                            <a href="{% url 'update_teacher' teacher.id %}" class="btn btn-warning">Update</a>#}
{#                        </div>#}
                        </div>
                    </div>
                </div>
            {% endif %}{% endif %}
        {% endfor %}
    </div>
{% endblock %}