{% extends 'base.html' %}

{% block title %} List of books {% endblock %}

{% block content %}
    <div class="row">
        {% for book in all_books %}
{#            <div class="col-sm-4"><br>#}
{#                <div class="card" style="width: 18rem;">#}
{#                    <a data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">#}
{#                        <img src="{{ book.cover }}" class="card-img-top" alt="...">#}
{#                    </a>#}
{#                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">#}
{#                        <div class="offcanvas-header">#}
{#                            <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ book.book_title }}</h5>#}
{#                            <h6 class="offcanvas-title" id="offcanvasExampleLabel">{{ book.author_name }}</h6>#}
{#                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>#}
{#                        </div>#}
{#                        <div class="offcanvas-body">#}
{#                            <div>{{ book.description }}</div>#}
{#                        </div>#}
{#                        <div class="offcanvas-footer">#}
{#                            <div class="text-muted d-grid gap-2 col-6 mx-auto">#}
{#                            <a href="{% url 'update_book' book.id %}" class="btn btn-dark">Update</a>#}
{#                            </div><br><br>#}
{#                            <div class="container">#}
{#                                <div class="row">#}
{#                                    <div class="col">&nbsp&nbsp&nbsp{{ book.year }}</div>#}
{#                                    <div class="col text-end">{{ book.genre }}&nbsp&nbsp&nbsp</div>#}
{#                                </div><br>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="col-sm-4"><br>
                <div class="card mb-3 scrollbar" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ book.cover }}" class="img-fluid rounded-start"  alt="...">
                            {% if perms.book.change_book %}
                                <div class="text-muted d-grid gap-2 col-6 mx-auto"><br>
                                <a href="{% url 'update_book' book.id %}" class="btn btn-dark">Update</a><br>
                                </div>
                            {% endif %}
                        </div>
                    <div class="col-md-8">
                    <div class="card-body" style="overflow-y:auto; max-height: 260px">
                        <h5 class="card-title">{{ book.book_title }}</h5>
                        <h6 class="card-title">{{ book.author_name }}</h6>
                        <div class="container">
                            <div class="row">
                                <div class="col">&nbsp&nbsp&nbsp{{ book.year }}</div>
                                <div class="col text-end">{{ book.genre }}&nbsp&nbsp&nbsp</div>
                            </div><br>
                        </div>
                        <p class="card-text">{{ book.description }}</p>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
{#        <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>#}
{#        <a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>#}
    </div>

{% endblock %}

