{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
</head>
<body>
{%  include 'navbar.html' %}
{% block content %}

{% endblock %}
<footer class="page-footer pt-5">
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="/">SDAcademy.com</a>
  </div>
</footer>
{#<script>$(document).ready(function(){$('[data-toggle="popover"]').popover();});</script>#}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>
</body>
</html>